@keyframes breath-light {
    0% {
        opacity: .7;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slow-rotate {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes slow-translate {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slow-translateY {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(calc(-50% - 20px));
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes grow-line {
	0% {
		height: 0;
		transform: translateY(0);
	}
	15% {
		height: 100%;
		transform: translateY(0);
	}
	85% {
		height: 100%;
		transform: translateY(0);
	}
	100% {
		height: 0;
		transform-origin: bottom;
		transform: translateY(200px);
	}
}
@keyframes hidden-triangle {
	0% {
		transform: scale(1);
	}
	70% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes jelly-box {
    0% {
        border-radius: 85% 15% 85% 15% / 15% 85% 15% 85%;
    }
    50% {
        border-radius: 50% 50% 50% 50% / 85% 85% 15% 15%;
    }
    100% {
        border-radius: 85% 15% 85% 15% / 15% 85% 15% 85%;
    }
}
