*{box-sizing: border-box;}
*{margin:0;padding:0}
a{text-decoration:none} 
a:hover{text-decoration:underline} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}
*::-webkit-scrollbar {
    width: 0;
    height: 0;
}