@import './format.scss';
@import './animation.scss';

html, body, #app {
    height: 100%;
}

body {
    color: var(--color-inside);
}

#app {
    min-width: 1440px;
    background-color: var(--color-theme);
}

.noice-text {
    // 全局提示文字样式
    color: var(--noice-text);
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 200;
    white-space: nowrap;
}

.page-title {
    // 页面中的标题
    color: var(--color-inside);
    font-size: 42px;
    font-weight: 100;
    letter-spacing: .2em;
    margin-bottom: .5em;
    white-space: nowrap;
}

.info-text {
    // 正文
    color: var(--primary-text);
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    text-indent: 24px;
    width: 100%;
    text-align: left;
}

.letter {
    // 散光文字
    position: relative;
    display: inline-block;
    .letter-inner {
        position: absolute;
        top: 0;
        left: 0;
    }
    .red {
        color: red;
        opacity: 1;
        transform: translate(2px, -2px);
    }
    .green {
        color: green;
        opacity: 1;
        transform: translate(-2px, 2px);
    }
    .yellow {
        color: yellow;
        opacity: 1;
    }
    .default {
        color: var(--color-inside);
        opacity: 0;
    }
}

.grow {
    // 下拉箭头
    position: absolute;
    .grow-background {
        background-color: var(--noice-text);
        width: 1px;
        height: 100%;
        position: absolute;
        transform-origin: bottom;
        animation: grow-line 4s infinite;
    }
    .triangle {
        display: block;
        position: absolute;
        bottom: -4px;
        left: -4px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid var(--noice-text);
        animation: hidden-triangle 4s infinite;
    }
}

.menu-item:hover {
    transform: translateX(-10px);
    .default {
        opacity: 1 !important;
    }
}

.color-picker-pop {
    .el-button.is-text {
        display: none;
    }
}
