@import './format.scss';
@import './animation.scss';

html, body, #app {
    height: 100%;
}

body {
    color: $color-inside;
}

#app {
    min-width: 1440px;
    background-color: #131517;
}

.noice-text {
    // 全局提示文字样式
    color: $noice-text;
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 200;
    white-space: nowrap;
}

.page-title {
    // 页面中的标题
    color: $primary-first-title;
    font-size: 42px;
    font-weight: 100;
    letter-spacing: .2em;
    margin-bottom: .5em;
    white-space: nowrap;
}

.info-text {
    color: $primary-text;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    text-indent: 24px;
    width: 100%;
    text-align: left;
}

.letter {
    position: relative;
    display: inline-block;
    .letter-inner {
        position: absolute;
        top: 0;
        left: 0;
    }
    .red {
        color: red;
        opacity: 1;
        transform: translate(2px, -2px);
    }
    .green {
        color: green;
        opacity: 1;
        transform: translate(-2px, 2px);
    }
    .yellow {
        color: yellow;
        opacity: 1;
    }
    .default {
        color: $color-inside;
        opacity: 0;
    }
}

.menu-item:hover {
    transform: translateX(-10px);
    .default {
        opacity: 1 !important;
    }
}
