
/*
    项目内全局变量
*/

:root {
    --color-theme: #131517;
    --color-inside: #fff; // 主题色相反色
    --primary-second-title: #e7e8e8; // 二级标题颜色
    --primary-text: #d0d0d1; // 主要的文字颜色（用于段落、正文等）
    --placeholder-color: #808080; // placeholder
    --noice-text: #ffe660; // 提示性颜色
    --color-background-1: #1e1e1e;
    --color-background-2: #2d2d2d;
}
